body > header {
  background: $header-bg;
  h1 {
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
    img {
      width: 260px;
      height: 50px;
    }
  }
  h2 {
    @extend .sans;
    line-height: 65px;
    font-size: 1em;
    color: $subtitle-color;
    font-variant: small-caps;
    letter-spacing: .2em;
    font-weight: 300;
  }
  h1, h2 {
    text-align: left;
    float: left;
    margin: 0 .25em 0 0;
    @media only screen and (max-width: 480px) {
      float: none;
      text-align: center;
      margin-right: 0;
    }
  }
  h2 {
    @media only screen and (max-width: 480px) {
      line-height: 1em;
      font-size: 1.5em;
    }
  }
}
